main.bg-aquamarine {
    background-color: #7fffd4;
}

.ms_grid {
    width: 700px;
    height: 700px;
}

.ms_grid .ms_square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px black solid;
    cursor: pointer;
    font-size: large;
    padding: 18px 24px;
}


.ms_square.clicked {
    background-color: lightblue;
}